DB_URL=jdbc:mysql://localhost:3307/cinemaweb?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=
DB_PASSWORD=
MAIL_USERNAME=
MAIL_PASSWORD=
JWT_SIGNER_KEY=
VNPAY_SECRET_KEY=
VNPAY_TMN_CODE=
VNPAY_RETURN_URL=http://localhost:8080/api/payment/payment_info
TMDB_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
